/**** H O M E - S P A C E R S ****/

.spacer {
    width: 100%;
    height: 450px;
    margin: 0;

}
.spacerArea {
    width: 100%;
    height: 450px;
    margin: 0;
    
}

#firstSpacer1 {
    height: 950px;
}

#spacerSimpleParallax {
    height: 850px;
    transform: translateY(-593px);
    background-image: url("../assets/home/conector2.svg");
    background-size: cover;
}

// .firstSpacer {
//     background-image: url("../assets/home/conector1.svg");
//     background-repeat: no-repeat;
//     background-size:cover;
// }

@for $i from 1 through 5 {
    .firstSpacer#{$i} {
        position: absolute;
        z-index: -1;
        background-image: url("../assets/home/conector1/#{$i}.svg");
        background-repeat: no-repeat;
        background-size:cover;
        animation-name: firstSpacer#{$i};
        //animation-timing-function: cubic-bezier(.17,.67,.49,.88);
    }
} 

$spacer1: 120px;
$spacer2: 92px;
$spacer3: 60px;
$spacer4: 12px;
$spacer5: -10px;


.firstSpacer1 {
    transform: translateY($spacer1);
    animation-duration: 3s;
}

.firstSpacer2 {
    transform: translateY($spacer2);
    animation-duration: 3.15s;
}

.firstSpacer3 {
    transform: translateY($spacer3);
    animation-duration: 3.2s;
}

.firstSpacer4 {
    transform: translateY($spacer4);
    animation-duration: 3.25s;
}

.firstSpacer5 {
    transform: translateY($spacer5);
    animation-duration: 3.3s;
}


@keyframes firstSpacer1 {
    0% {
        transform: translateY($spacer1 + 100px);
    }
    30% {
        transform: translateY($spacer1 - 50px);
    }
    100% {
        transform: translateY($spacer1);
    }
}

@keyframes firstSpacer2 {
    0% {
        transform: translateY($spacer2 + 128px);
    }
    30% {
        transform: translateY($spacer2 - 55px);
    }
    100% {
        transform: translateY($spacer2);
    }
}

@keyframes firstSpacer3 {
    0% {
        transform: translateY($spacer3 + 150px);
    }
    30% {
        transform: translateY($spacer3 - 60px);
    }
    100% {
        transform: translateY($spacer3);
    }
}

@keyframes firstSpacer4 {
    0% {
        transform: translateY($spacer4 + 168px);
    }
    30% {
        transform: translateY($spacer4 - 65px);
    }
    100% {
        transform: translateY($spacer4);
    }
}

@keyframes firstSpacer5 {
    0% {
        transform: translateY($spacer5 + 220px);
    }
    30% {
        transform: translateY($spacer5 - 60px);
    }
    100% {
        transform: translateY($spacer5);
    }
}